body {
  background-color: #161616;
}


.order-section-element {
  background-color: #1d1d1d;
  color: #f0dd31;
  padding: 10px 16px;
  margin: 12px 0;
}
.order-section-element::after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: #f0dd31;
}

.order-section-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

.menu-section {
  background-color: #000000;
  color: #f0dd31;
  padding: 10px 16px;
  margin: 12px 0;
}

.menu-section {
  background-color: #000000;
  color: #f0dd31;
  padding: 10px 16px;
  margin: 12px 0;
}

.menu-section-title {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.menu-section-title.active {
  font-size: 1.6rem;
}

.menu-section-list {
  margin-top: 0.6rem;
}

.menu-section-element {
  margin-bottom: 0.5rem;
  position: relative;
  font-size: 1rem;
}

.menu-section-element::after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: #f0dd31;
}

.menu-section-element .element-name {
  color: #ffffff;
  font-weight: 600;
}

.menu-section-element .element-name .element-description {
  font-size: 0.8rem;
  color: #f0dd31;
}

.menu-section-element .element-vegan {
  margin-left: 6px;
  color: #82c91e;
}

.menu-cliente {
  margin-top: 70px;
  margin-bottom: 70px;
}

.navbar-home {
  background-color: #000000;
  height: 56px;
}

.navbar-home .img img {
  margin-top: 4px;
  margin-left: 8px;
  height: 60px;
}

.navbar-home .title {
  padding-left: 14px;
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 700;
}

.yellow {
  color: #F0DD31;
}

.submit-order {
  background-color: #F0DD31;
  color: #000000;
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;
  height: 46px;
  line-height: 46px;
  vertical-align: middle;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  box-shadow: 0px 0px 16px #000000;
}
