.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body,
#root,
.App {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.noselect {
  user-select: none;
}

.app-background {
  background-color: #161616;
}

.page-container {
  overscroll-behavior: contain;
}

.element-container {
  background-color: rgb(15, 15, 15);
}

.page-title {
  color: rgb(255, 255, 255);
  size: 1rem;
  font-weight: 500;
  margin: 0;
  padding-top: 10px;
  padding-left: 5px;
}

.menu-container {
  padding: 10px;
}

.icon-section-title {
  color: rgb(255, 255, 255);
}

.product-container {
  padding-right: 0rem;
}

.ingredient-title {
  text-align: start;
  color: rgb(255, 255, 255);
  text-shadow: 1px 0 0 rgb(35, 1, 4), -1px 0 0 rgb(35, 1, 4),
    0 1px 0 rgb(35, 1, 4), 0 -1px 0 rgb(35, 1, 4), 1px 1px rgb(35, 1, 4),
    -1px -1px 0 rgb(35, 1, 4), 1px -1px 0 rgb(35, 1, 4),
    -1px 1px 0 rgb(35, 1, 4);
  font-size: 1.1rem;
  font-weight: 900;
  padding-left: 0.9rem;
}

.center-text {
  line-height: 100%;
  vertical-align: middle;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
}

.nopadding {
  padding: 0rem;
}

.smallpadding {
  padding: 0.2rem;
}

.product-price {
  text-align: end;
}
.select-product-button {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 900;
}

.black-span {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 900;
}

/* POPUP SECTION */

#dialog_base {
  background: white;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  height: 100%;
  width: 100%;

  backdrop-filter: blur(2px);
}

#dialog_content {
  position: fixed;
  left: 0;
  right: 0;
  top: 14vh;
  margin-left: auto;
  margin-right: auto;
  width: 480px; /* Need a specific value to work */
  overflow: hidden;
  z-index: 5001;
}

.alert-box {
  color: #ffffff;
  background-color: black;
  border: solid 1px #f0dd31;
  padding: 38px 18px;
  border-radius: 12px;
}

.yellow {
  color: #f0dd31;
}

.red {
  color: #ff0000;
}

.yellow-g {
  font-weight: 500;
  color: #f0dd31;
}
